<p>Delete  <%= @task.name %>?</p>

<form method="post" action="/games/<%=@task.id%>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
<form>