<h1>New Game</h1>

<form method="post" action="/games/new">
<input type="text" name="name" placeholder="Game Name">
<br>

<br>
<input class="btn btn-primary" type="submit" name="create" value="Create">
</form>