<h1>New Game on <%= @list.name %></h1>

<form method="post" action="/games/new/<%= @list.id %>">
<input type="text" name="name" placeholder="Game Name">
<input class="btn btn-success" type="submit" name="create" value="Create">
</form>