<!doctype html>
<html>
    <head>
    <title>Game Box</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
<body>

<nav class="navbar navbar-light bg-warning">

    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/games"><i class="fa"></i>Game Box</a>
    <ul class="nav navbar-nav">

    <% if logged_in? %>
    <li><a href="/lists/new">Create New Game List</a></li>
    <li><a href="/games/new">Add New Game</a></li>
    <li><a href="/logout">Log Out</a></li>

    <% else %>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <% end %>
    </ul>
</div>
</div>
</nav>
<div class="col-md-6 col-xs-offset-2">

<%= yield %> 

</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>